@model MiAdminPub.Models.Pub

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pub</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicenciaFiscal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicenciaFiscal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Domicilio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Domicilio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaApertura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaApertura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Horario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasApertura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasApertura)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PubId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
