@model IEnumerable<miMVC.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precioProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaDeVencimiento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="success">
        <td>
            @Html.DisplayFor(modelItem => item.nombreProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precioProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaDeVencimiento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.productoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.productoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.productoID })
        </td>
    </tr>
}

</table>
